$type.getName()#if($type.getGenerics().size() > 0)#set($generics = $type.getGenerics())#set($i = 0)<#foreach($generic in $generics)#set($type = $generic)#parse("type.vm")#set($i = $i + 1)#if($i < $generics.size()),#end#end#end